src/main/resources/xsd/Player.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://fr.bfr.app/xsd/player/">

    <xsd:complexType name="player">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="forceOneTileWide" type="xsd:string"/>
            <xsd:element name="isEmoting" type="xsd:string"/>
            <xsd:element name="isCharging" type="xsd:string"/>
            <xsd:element name="isGlowing" type="xsd:string"/>
            <xsd:element name="coloredBorder" type="xsd:string"/>
            <xsd:element name="flip" type="xsd:string"/>
            <xsd:element name="drawOnTop" type="xsd:string"/>
            <xsd:element name="faceTowardFarmer" type="xsd:string"/>
            <xsd:element name="ignoreMovementAnimation" type="xsd:string"/>
            <xsd:element name="faceAwayFromFarmer" type="xsd:string"/>
            <xsd:element name="scale" type="xsd:string"/>
            <xsd:element name="timeBeforeAIMovementAgain" type="xsd:string"/>
            <xsd:element name="glowingTransparency" type="xsd:string"/>
            <xsd:element name="glowRate" type="xsd:string"/>
            <xsd:element name="willDestroyObjectsUnderfoot" type="xsd:string"/>
            <xsd:element name="Position" type="xsd:string"/>
            <xsd:element name="Speed" type="xsd:string"/>
            <xsd:element name="FacingDirection" type="xsd:string"/>
            <xsd:element name="CurrentEmote" type="xsd:string"/>
            <xsd:element name="questLog" type="xsd:string"/>
            <xsd:element name="professions" type="xsd:string"/>
            <xsd:element name="newLevels" type="xsd:string"/>
            <xsd:element name="experiencePoints" type="xsd:string"/>
            <xsd:element name="items" type="xsd:string"/>
            <xsd:element name="dialogueQuestionsAnswered" type="xsd:string"/>
            <xsd:element name="furnitureOwned" type="xsd:string"/>
            <xsd:element name="cookingRecipes" type="xsd:string"/>
            <xsd:element name="craftingRecipes" type="xsd:string"/>
            <xsd:element name="activeDialogueEvents" type="xsd:string"/>
            <xsd:element name="eventsSeen" type="xsd:string"/>
            <xsd:element name="secretNotesSeen" type="xsd:string"/>
            <xsd:element name="songsHeard" type="xsd:string"/>
            <xsd:element name="achievements" type="xsd:string"/>
            <xsd:element name="specialItems" type="xsd:string"/>
            <xsd:element name="specialBigCraftables" type="xsd:string"/>
            <xsd:element name="mailReceived" type="xsd:string"/>
            <xsd:element name="mailForTomorrow" type="xsd:string"/>
            <xsd:element name="mailbox" type="xsd:string"/>
            <xsd:element name="timeWentToBed" type="xsd:string"/>
            <xsd:element name="sleptInTemporaryBed" type="xsd:string"/>
            <xsd:element name="stats" type="xsd:string"/>
            <xsd:element name="blueprints" type="xsd:string"/>
            <xsd:element name="biteChime" type="xsd:string"/>
            <xsd:element name="itemsLostLastDeath" type="xsd:string"/>
            <xsd:element name="movementDirections" type="xsd:string"/>
            <xsd:element name="farmName" type="xsd:string"/>
            <xsd:element name="favoriteThing" type="xsd:string"/>
            <xsd:element name="slotCanHost" type="xsd:string"/>
            <xsd:element name="userID" type="xsd:string"/>
            <xsd:element name="catPerson" type="xsd:string"/>
            <xsd:element name="whichPetBreed" type="xsd:string"/>
            <xsd:element name="acceptedDailyQuest" type="xsd:string"/>
            <xsd:element name="mostRecentBed" type="xsd:string"/>
            <xsd:element name="performedEmotes" type="xsd:string"/>
            <xsd:element name="shirt" type="xsd:string"/>
            <xsd:element name="hair" type="xsd:string"/>
            <xsd:element name="skin" type="xsd:string"/>
            <xsd:element name="shoes" type="xsd:string"/>
            <xsd:element name="accessory" type="xsd:string"/>
            <xsd:element name="facialHair" type="xsd:string"/>
            <xsd:element name="pants" type="xsd:string"/>
            <xsd:element name="hairstyleColor" type="xsd:string"/>
            <xsd:element name="pantsColor" type="xsd:string"/>
            <xsd:element name="newEyeColor" type="xsd:string"/>
            <xsd:element name="hat" type="xsd:string"/>
            <xsd:element name="boots" type="xsd:string"/>
            <xsd:element name="shirtItem" type="xsd:string"/>
            <xsd:element name="pantsItem" type="xsd:string"/>
            <xsd:element name="divorceTonight" type="xsd:string"/>
            <xsd:element name="changeWalletTypeTonight" type="xsd:string"/>
            <xsd:element name="woodPieces" type="xsd:string"/>
            <xsd:element name="stonePieces" type="xsd:string"/>
            <xsd:element name="copperPieces" type="xsd:string"/>
            <xsd:element name="ironPieces" type="xsd:string"/>
            <xsd:element name="coalPieces" type="xsd:string"/>
            <xsd:element name="goldPieces" type="xsd:string"/>
            <xsd:element name="iridiumPieces" type="xsd:string"/>
            <xsd:element name="quartzPieces" type="xsd:string"/>
            <xsd:element name="gameVersion" type="xsd:string"/>
            <xsd:element name="caveChoice" type="xsd:string"/>
            <xsd:element name="feed" type="xsd:string"/>
            <xsd:element name="farmingLevel" type="xsd:string"/>
            <xsd:element name="miningLevel" type="xsd:string"/>
            <xsd:element name="combatLevel" type="xsd:string"/>
            <xsd:element name="foragingLevel" type="xsd:string"/>
            <xsd:element name="fishingLevel" type="xsd:string"/>
            <xsd:element name="luckLevel" type="xsd:string"/>
            <xsd:element name="newSkillPointsToSpend" type="xsd:string"/>
            <xsd:element name="addedFarmingLevel" type="xsd:string"/>
            <xsd:element name="addedMiningLevel" type="xsd:string"/>
            <xsd:element name="addedCombatLevel" type="xsd:string"/>
            <xsd:element name="addedForagingLevel" type="xsd:string"/>
            <xsd:element name="addedFishingLevel" type="xsd:string"/>
            <xsd:element name="addedLuckLevel" type="xsd:string"/>
            <xsd:element name="maxStamina" type="xsd:string"/>
            <xsd:element name="maxItems" type="xsd:string"/>
            <xsd:element name="lastSeenMovieWeek" type="xsd:string"/>
            <xsd:element name="resilience" type="xsd:string"/>
            <xsd:element name="attack" type="xsd:string"/>
            <xsd:element name="immunity" type="xsd:string"/>
            <xsd:element name="attackIncreaseModifier" type="xsd:string"/>
            <xsd:element name="knockbackModifier" type="xsd:string"/>
            <xsd:element name="weaponSpeedModifier" type="xsd:string"/>
            <xsd:element name="critChanceModifier" type="xsd:string"/>
            <xsd:element name="critPowerModifier" type="xsd:string"/>
            <xsd:element name="weaponPrecisionModifier" type="xsd:string"/>
            <xsd:element name="clubCoins" type="xsd:string"/>
            <xsd:element name="trashCanLevel" type="xsd:string"/>
            <xsd:element name="daysLeftForToolUpgrade" type="xsd:string"/>
            <xsd:element name="houseUpgradeLevel" type="xsd:string"/>
            <xsd:element name="daysUntilHouseUpgrade" type="xsd:string"/>
            <xsd:element name="coopUpgradeLevel" type="xsd:string"/>
            <xsd:element name="barnUpgradeLevel" type="xsd:string"/>
            <xsd:element name="hasGreenhouse" type="xsd:string"/>
            <xsd:element name="hasUnlockedSkullDoor" type="xsd:string"/>
            <xsd:element name="hasDarkTalisman" type="xsd:string"/>
            <xsd:element name="hasMagicInk" type="xsd:string"/>
            <xsd:element name="showChestColorPicker" type="xsd:string"/>
            <xsd:element name="hasMagnifyingGlass" type="xsd:string"/>
            <xsd:element name="hasWateringCanEnchantment" type="xsd:string"/>
            <xsd:element name="magneticRadius" type="xsd:string"/>
            <xsd:element name="temporaryInvincibilityTimer" type="xsd:string"/>
            <xsd:element name="currentTemporaryInvincibilityDuration" type="xsd:string"/>
            <xsd:element name="health" type="xsd:string"/>
            <xsd:element name="maxHealth" type="xsd:string"/>
            <xsd:element name="difficultyModifier" type="xsd:string"/>
            <xsd:element name="isMale" type="xsd:string"/>
            <xsd:element name="hasBusTicket" type="xsd:string"/>
            <xsd:element name="stardewHero" type="xsd:string"/>
            <xsd:element name="hasClubCard" type="xsd:string"/>
            <xsd:element name="hasSpecialCharm" type="xsd:string"/>
            <xsd:element name="basicShipped" type="xsd:string"/>
            <xsd:element name="mineralsFound" type="xsd:string"/>
            <xsd:element name="recipesCooked" type="xsd:string"/>
            <xsd:element name="fishCaught" type="xsd:string"/>
            <xsd:element name="archaeologyFound" type="xsd:string"/>
            <xsd:element name="callsReceived" type="xsd:string"/>
            <xsd:element name="giftedItems" type="xsd:string"/>
            <xsd:element name="tailoredItems" type="xsd:string"/>
            <xsd:element name="friendshipData" type="xsd:string"/>
            <xsd:element name="dayOfMonthForSaveGame" type="xsd:string"/>
            <xsd:element name="seasonForSaveGame" type="xsd:string"/>
            <xsd:element name="yearForSaveGame" type="xsd:string"/>
            <xsd:element name="overallsColor" type="xsd:string"/>
            <xsd:element name="shirtColor" type="xsd:string"/>
            <xsd:element name="skinColor" type="xsd:string"/>
            <xsd:element name="hairColor" type="xsd:string"/>
            <xsd:element name="eyeColor" type="xsd:string"/>
            <xsd:element name="bobber" type="xsd:string"/>
            <xsd:element name="qiGems" type="xsd:string"/>
            <xsd:element name="JOTPKProgress" type="xsd:string"/>
            <xsd:element name="hasUsedDailyRevive" type="xsd:string"/>
            <xsd:element name="chestConsumedLevels" type="xsd:string"/>
            <xsd:element name="saveTime" type="xsd:string"/>
            <xsd:element name="isCustomized" type="xsd:string"/>
            <xsd:element name="homeLocation" type="xsd:string"/>
            <xsd:element name="lastSleepLocation" type="xsd:string"/>
            <xsd:element name="lastSleepPoint" type="xsd:string"/>
            <xsd:element name="daysMarried" type="xsd:string"/>
            <xsd:element name="movementMultiplier" type="xsd:string"/>
            <xsd:element name="theaterBuildDate" type="xsd:string"/>
            <xsd:element name="deepestMineLevel" type="xsd:string"/>
            <xsd:element name="stamina" type="xsd:string"/>
            <xsd:element name="totalMoneyEarned" type="xsd:string"/>
            <xsd:element name="millisecondsPlayed" type="xsd:string"/>
            <xsd:element name="hasRustyKey" type="xsd:string"/>
            <xsd:element name="hasSkullKey" type="xsd:string"/>
            <xsd:element name="canUnderstandDwarves" type="xsd:string"/>
            <xsd:element name="HasTownKey" type="xsd:string"/>
            <xsd:element name="useSeparateWallets" type="xsd:string"/>
            <xsd:element name="timesReachedMineBottom" type="xsd:string"/>
            <xsd:element name="UniqueMultiplayerID" type="xsd:string"/>
            <xsd:element name="money" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>